@font-face {
  font-family: Arsenal-Bold;
  src: url("../fonts/Arsenal-Bold.ttf");
}

.container {
  height: 21vw;
  margin-bottom: 2vw;
}

.login-signup-container {
  margin-top: 1.5vw;
  margin-left: 2%;
  width: 20vw;
  border-radius: .5vw;
  box-shadow: .25vw .25vw .25vw #060606;
  border-left: .05vw solid #060606;
  border-bottom: 0.5vw solid #060606;
  display: inline-block;
  border-bottom-right-radius: 1.25vw;
  border-bottom-left-radius: 1.25vw;
}

.stockName {
  text-align: center;
  font-family: Arsenal-Bold;
  font-size: 1vw;
}

.tabContainer {
  display: flex;
}

.tabs {
  font-size: .78vw;
  border-top-right-radius: .5vw;
  border-top-left-radius: .5vw;
  padding: .75vw;
  text-align: center;
  width: 50%;
  background: #e6e6e6;
  cursor: pointer;
  border-top: .05vw solid #060606;
  border-bottom: .05vw solid #060606;
  box-sizing: content-box;
  position: relative;
}

.tabs:not(:last-child) {
  border-right: .05vw solid #060606;
}

.active-tabs {
  background: #fefdfd;
  border-bottom: .05vw solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  height: .25vw;
}

button {
  border: none;
}

.contentContainer {
  flex-grow: 1;
}

.content {
  background: white;
  padding: 1vw;
  height: 100%;
  display: none;
  border-bottom-right-radius: .5vw;
  border-bottom-left-radius: .5vw;
  
}

.active-content {
  display: block;
}

.top{
  padding-top: 0.75vw;
  width: 92.5vw;
  height: 25vw;
  display: flex;
}
.top-2{
  padding-top: 1.25vw;
  left: -1vw;
  width: 73%;
  /*background-color: red;*/
}
.graph{
  position: relative;
  margin-top: .25vw;
  width: 101.34%;
  height: 96.75%;
  margin-left: 2vw;
  box-shadow: .25vw .25vw .25vw #060606;
  border: 1px solid #060606;
  border-radius: 1vw;
}
