@font-face {
  font-family: Arsenal-Bold;
  src: url("../fonts/Arsenal-Bold.ttf");
}

.container {
  height: 420px;
  margin-bottom: 40px;
}

.login-signup-container {
  margin-top: 30px;
  margin-left: 2%;
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #060606;
  border-left: 1px solid #060606;
  display: inline-block;
}

.graph {
  margin-left: 40px;
  display: inline-block;
  position: absolute;
  height: 430px;
  width: calc(100% - 400px);
  box-shadow: 5px 5px 5px #060606;
  border: 1px solid #060606;
  border-radius: 20px;
}

.stockName {
  text-align: center;
  font-family: Arsenal-Bold;
  font-size: 20px;
}

.tabContainer {
  display: flex;
}

.tabs {
  font-size: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #e6e6e6;
  cursor: pointer;
  border-top: 1px solid #060606;
  border-bottom: 1px solid #060606;
  box-sizing: content-box;
  position: relative;
}

.tabs:not(:last-child) {
  border-right: 1px solid #060606;
}

.active-tabs {
  background: #fefdfd;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  height: 5px;
}

button {
  border: none;
}

.contentContainer {
  flex-grow: 1;
}

.content {
  background: white;
  padding: 20px;
  height: 100%;
  display: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active-content {
  display: block;
}
