.login-container,
.signup-container {
	height: 400px;
	border-radius: 10px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-field {
	margin: 0px 0px 20px 0px !important;
	width: 80%;
	min-width: 200px;
}

.text-field input {
	background-color: white;
}

.text-input {
	border: 1px solid black;
	box-sizing: border-box;
	border-radius: 15px;
	height: 40px;
	width: 100%;
	padding: 0 15px;
	font-size: 14px;
}

.login-error-message {
	color: black;
	outline: 1px solid red;
	background-color: rgb(255, 164, 164);
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 3px;
	width: fit-content;
}
