.login-container,
.signup-container {
	height: 20vw;
	border-radius: .5vw;
	margin: .5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-field {
	margin: 0px 0px 1vw 0px !important;
	width: 80%;
	min-width: 10vw;
}

/* not sure how I can style this */
.MuiOutlinedInput-input {
	background-color: white !important;
}

.login-error-message {
	color: black;
	outline: 1px solid red;
	background-color: rgb(255, 164, 164);
	margin-bottom: 1vw;
	padding: .25vw .5vw;
	border-radius: .2vw;
	width: fit-content;
	font-family: "Arial";
	font-size: small;
	text-align: center;
}

.verification-container {
	font-family: "Arial";
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
}

.verification-field {
	width: 10vw;
	margin-top: 20px;
	text-align: center;
}

.verify-button {
	margin: 0px 0px 2vw 0px !important;
}

.resend-prompt {
	top: 50%;
	display: flex;
	font-size: small;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}