.login-container,
.signup-container {
	height: 400px;
	border-radius: 10px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-field {
	margin: 0px 0px 20px 0px !important;
	width: 80%;
	min-width: 200px;
}

/* not sure how I can style this */
.MuiOutlinedInput-input {
	background-color: white !important;
}

.login-error-message {
	color: black;
	outline: 1px solid red;
	background-color: rgb(255, 164, 164);
	margin-bottom: 20px;
	padding: 5px 10px;
	border-radius: 3px;
	width: fit-content;
	font-family: "Arial";
	font-size: small;
	text-align: center;
}

.verification-container {
	font-family: "Arial";
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
}

.verification-field {
	width: 200px;
	margin-top: 20px;
	text-align: center;
}

.verify-button {
	margin: 0px 0px 40px 0px !important;
}

.resend-prompt {
	top: 50%;
	display: flex;
	font-size: small;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}