.header {
  width: 100%;
  height: 3.5vw;
  display: block;
  text-decoration: none;
  background-color: #3500d3;
  box-shadow: 0 .25vw .25vw .25vw #060606;
  margin-bottom: 1.5px;
}

.insideHeader {
  width: 95%;
  height: 100%;
  display: flexbox;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 4vw;
  height: auto;
}

.name {
  color: #fefdfd;
  display: inline-block;
  position: absolute;
}

.name p {
  font-size: 2.5vw;
  margin-top: .5vw;
  font-family: Garamond, serif;
  font-weight: 600;
}

.nav {
  margin-top: 1.2vw;
  position: relative;
  float: right;
  display: inline;
}

.nav li {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #fefdfd;
  font-size: 1vw;
  margin-left: 2.5vw;
  display: inline-block;
}
