.header {
  width: 100%;
  height: 80px;
  display: block;
  text-decoration: none;
  background-color: #3500d3;
}

.insideHeader {
  width: 95%;
  height: 100%;
  display: flexbox;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 100px;
  height: auto;
}

.name {
  color: #fefdfd;
  display: inline-block;
  position: absolute;
}

.name p {
  font-size: 60px;
  margin-top: 10px;
  font-family: Garamond, serif;
  font-weight: 600;
}

.nav {
  margin-top: 26px;
  position: relative;
  float: right;
  display: inline;
}

.nav li {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #fefdfd;
  font-size: 20px;
  margin-left: 50px;
  display: inline-block;
}
